*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primary-color: rgb(190, 202, 233);
  --color-white: rgb(224, 229, 240);
  --color-purple: rgb(9, 23, 63);
  --color-red: rgb(252, 127, 127);
  --color-green: rgb(174, 236, 138);
  --color-grafico: rgb(31, 53, 150);
}
body{
  font-family: 'Epilogue', sans-serif;
}
.bg-green{
  background-color: var(--color-green);
}
.bg-red{
  background-color: var(--color-red);
}
.tachado{
  text-decoration: line-through;
}