*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primary-color: rgb(245, 206, 188);
  --color-white: rgb(248, 237, 232);
  --color-purple: rgb(33, 22, 57);
}
body{
  font-family: 'Epilogue', sans-serif;
}